/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li, table, label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li, table {
  font-size: 1.6rem;
  line-height: 1.5;
}


/* Comments styling */

.comments {
  background-color: #def;
  padding: 10px;
}

.comments h2 {
  font-size: 2rem;
}

.comments h2:nth-of-type(2) {
  margin-bottom: 0;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  gap: 1rem;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input {
  flex: 6;
}

.show-hide {
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  text-align: center;
  width: 150px;
}

.comment-form input,
.comment-form label,
.show-hide {
  font-size: 1.6rem;
  line-height: 32px;
}

.comment-form input[type='submit'],
.show-hide {
  background: #333;
  border: 0;
  color: white;
}

.comment-form input[type='submit'] {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}

